<h1>Welcome!</h1>
<div id="left_side">
	<h2>Sign Up!</h2>
	<form action="/users/create" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		Name: <input type="text" name="user[name]"><br>
		Email: <input type="text" name="user[email]"><br>
		Password: <input type="password" name="user[password]"><br>
		Confirm PW: <input type="password" name="user[confirmation]"><br>
		Description: <input type="description" name="user[description]"><br>
		<input type="submit" name="commit" value="Register">
	</form>
</div>
<% if flash[:errors] %>
	<% for i in flash[:errors] %>
		<%= i %>.<br>
	<% end %>
<% end %>
<div id="right_side">
	<h2>Log In!</h2>
	<form action="/sessions/create" method="post">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		Email: <input type="text" name="user[email]" id="Email"><br>
		Password: <input type="password" name="user[password]" id="Password"><br>
		<input type="submit" name="commit" value="Log In" id="Log In">
	</form>
</div>
